.App {
  text-align: center;

}

.Title {
  background-color: #ec4a26;
  height: 15vh;
  width: 100vh;
  display: flex;
  align-items: center; 
  justify-content: center; 
  font-size: 40px;
  color: white;
  text-align: center;
}

.Listing {
  background-color: #f0846f;
  height: 10vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 1vmin);
  color: white;
}

.ItemListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 12px;
  padding: 18px;
  justify-content: center;
}

.ItemList {
  background-color: rgb(247, 169, 169);
  color: black;
  padding: 16px;
  text-align: center;

  > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}